# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\postgraduate\doubleSpellingApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
